[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
bandit = "*"

[packages]
psycopg2 = "*"
django = "~=2.2"
djangorestframework = "~=3.11"
python-memcached = "*"
gunicorn = "*"
requests = "*"

[requires]
python_version = "3.7"
